{##
 # /views/layout.twig
 #}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}Mambot Chat{% endblock %}</title>
            <meta charset="utf-8">
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/favicon.ico" type="image/x-icon">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" 
                  href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" 
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" 
                  href="/stylesheets/main.css">

            <!-- Optional theme -->
            <link rel="stylesheet" 
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
           


        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        
        
    </body>
</html>	