{##
 # /views/home/chat.twig
 #}

{% extends 'layout.twig' %}

{% block title %}Home - {{parent()}}{% endblock title %}

{% block body %}

    <div class="container">

        <form class="form-inline" action="/chat" method="post" id="formulaire_chat">
            <div class="form-group">
                <input class="form-control" 
                       type="text" 
                       name="message" 
                       id="message" 
                       placeholder="Votre message..." 
                       size="50" required autofocus />
            </div>
            <button class="btn btn-primary" 
                    type="submit" 
                    id="envoi_message">Envoyer</button>
        </form>

    </div>

    <section id="zone_chat">

    </section>

    <footer class="footer">
        <div class="container">
            <p>Number of person : {{ visits }}</p>
        </div>
    </footer>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/script.js"></script>
{% endblock %}